* {
    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 1;
    color: rgb(82, 61, 61);
    text-decoration: none;
 
  } 
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script:wght@500&display=swap');

  body {
    background-image: url('../img/fundo.webp');
    background-size: cover;
}

.main{
  font-size: 3vh;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  display: inline-block;
  padding: 18px;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height:100%;
  min-width: 500px;
  min-height: 500px;
  border: 1px solid #333;
  outline: 1px black;
  position:relative;
  background-color: rgba(240, 228, 208, 0.85);/*transparent*/ 
  border-radius: 5px;
  box-shadow: 10px 15px 5px rgb(97, 96, 96);
  font-size: 3vh;
}

h1{
  font-family: 'Dancing Script', cursive;
}

h2{
  font-family: 'Dancing Script', cursive;
}

  h3{
    font-family: 'Dancing Script', cursive;
  }

  p {
 text-indent: 30px;

  }

 table {
 background-color: rgb(232, 208, 197)

 }